.idea/
cmake-build-debug/
components/
config/
documentation/
external/
external_tools/
integration/
license.txt
modules/
nRF5x_MDK_8_17_0_IAR_NordicLicense.msi
nRF5x_MDK_8_17_0_Keil4_NordicLicense.msi
!/examples
/examples/*
!/examples/ble_peripheral
/examples/ble_peripheral/*
!/examples/ble_peripheral/ble_app_hrs
/examples/ble_peripheral/ble_app_hrs/*
!/examples/ble_peripheral/ble_app_hrs/pca10056
/examples/ble_peripheral/ble_app_hrs/pca10056/*
!/examples/ble_peripheral/ble_app_hrs/pca10056/s140
/examples/ble_peripheral/ble_app_hrs/pca10056/s140/*
!/examples/ble_peripheral/ble_app_hrs/pca10056/s140/armgcc
